@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
}

Welcome to the Document Repository - clicking File will get you to the repository.

<ul>
    @foreach (string folder in Model)
    {
        <li><a href="/DocumentRepository/Files/@folder">@folder</a> </li>
    }
</ul>
